<context-menu-container matches="">
	<style>
		menu {
			display: none;
			position: absolute;
		}
	</style>
	<menu>
		<slot name="menu-options"></slot>
	</menu>
	<section id="top-section">
		<section id="content-wrapper">
			<slot name="content"></slot>
		</section>
	</section>
	<script tl-effect>
		const topSection = this.shadowRoot.querySelector('section#top-section');
		topSection.addEventListener('contextmenu', (event) => {
			// check if the target element matches what is required in the host (if we have matches)
			const matches = this.getAttribute('matches');
			const elementMatches = event.target.matches(matches);
			if ((matches && elementMatches) || !matches) {
				event.preventDefault();
			} else {
				return;
			}

			// set the target on the context menu container
			this.target = event.target;

			// display the context menu
			const contextMenuMenu = this.shadowRoot.querySelector('menu');
			contextMenuMenu.style.display = 'block';
			contextMenuMenu.style.top = `${event.pageY - 20}px`;
			contextMenuMenu.style.left = `${event.pageX - 35}px`;

			const contentWrapper = this.shadowRoot.querySelector('#content-wrapper');
			contentWrapper.style.pointerEvents = 'none';
		})

		this.dismissContextMenu = () => {
			const contextMenuMenu = this.shadowRoot.querySelector('menu');
			const contentWrapper = this.shadowRoot.querySelector('#content-wrapper');

			contextMenuMenu.style.display = 'none';
			contentWrapper.style.pointerEvents = '';
		}

		topSection.addEventListener('click', () => {
			this.dismissContextMenu()
		})
	</script>
</context-menu-container>
